header{
    background-color: rgb(255, 25, 25);
    padding: 15px 0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    top: 0;
    z-index: 1000;
}

header .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

header .logo {
    margin-right: 20px;
}

header .logo img {
    height: 100px;
}

header nav {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 150px;
}

header nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    transition: color 0.3s ease;
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

.caixas {
    display: flex;
    justify-content: space-around; 
    gap: 30px; 
    max-width: 800px; 
    margin: 30px auto; 
}
.caixa-item {
    flex: 1; 
    background-color: white; 
    padding: 20px; 
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); 
    text-align: center; 
}
.noticia {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin-bottom: 10px;
}
.legenda {
    font-size: 1em;
    color: #555;
    margin-top: 5px;
}